[Desktop Entry]
Type=Application
Name=Weather
Name[de_DE]=Wetter
Name[es_ES]=Clima
Name[fr_FR]=Météo
Name[nl_NL]=Weer
Name[pl_PL]=Pogoda
Name[ru_RU]=погода
Categories=Applications;
Exec=invoker --type=qtcomponents-qt5 /usr/bin/asteroid-weather
Icon=ios-cloudy-outline
X-Asteroid-Center-Color=#dfb103
X-Asteroid-Outer-Color=#be4e0e
