[Desktop Entry]
Type=Application
Name=Weather
Name[de_DE]=Wetter
Name[es_ES]=Clima
Name[fr_FR]=Météo
Name[nl_NL]=Weer
Name[pl_PL]=Pogoda
Name[pt_BR]=Clima
Name[sv_SV]=Väder
Name[ru_RU]=погода
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-weather
Icon=ios-cloudy-outline
X-Asteroid-Center-Color=#C91C1C
X-Asteroid-Outer-Color=#4C0000
